body
{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: green;
}
h2
{
    text-shadow: 1px 2px 2px green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
#click
{
    height: 4pc;
    width:10pc;
    background: transparent;
    border: 2px solid green;
    border-radius: 50pc;
    position: relative;
    top: 3pc;
    color: green;
}
#click:hover
{
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.504);
    transition: 0.2s;
}
.message
{
    font-size:large;
    position: relative;
    top: 4pc;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}